.moviesPageContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.moviesPageContainer form{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.moviesPageContainer input{
    font-size: 20px;
    padding: 20px;
}

.moviesPageContainer button{
    background-color: tomato;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.moviesPageContainer button:hover{
    color: tomato;
    background-color: black;
}
